/* CSS Document */
:root{
    --bg-body: #f1e6da;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-touch-callout: none;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
}

body{
    background: var(--bg-body);
}