/* CSS Document */
:root{
    --bg-body: #f1e6da;
    --bg-idea-card:#f9f2e6;
    --bg-idea-tag:#e3d9c6;
    
    --border-idea-card: #eddcc7;
    
    --box-shadow-idea-card: inset 0px 0px 10px rgb(241 218 187 / 80%);
    
    
    /*--text-idea-card:#878787;
    --text-idea-card: #9d8466;*/
    --text-idea-card: #977f62;
    --text-header:#c1b2a2;
    --text-header: #cdbaa8;
    --text-idea-tag: #9d8663;
}
html.dark-mode{
    --bg-body: #03040a;
    --bg-idea-card: #131316;
    --border-idea-card: #1a1c1e;
    --text-idea-card: #878787;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-touch-callout: none;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
}

body{
    background: var(--bg-body);
}
.idea_card:hover{
    cursor:pointer;
}
.header_sub_container{
    min-height:50px;
    position:relative;
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight: 700;
    font-size: 35px;
    font-style: italic;
    color: var(--text-header);
}
.alpha_container{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.alpha_sub_container{
    position: relative;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.idea_card{
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    border: 1px solid var(--border-idea-card);
    background: var(--bg-idea-card);
    color: var(--text-idea-card);
    box-shadow:  var(--box-shadow-idea-card);
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 12px;
    border-radius: 8px;
}
.idea_card:hover{
    cursor:pointer;
}
.card_idea_title{
    font-weight: 700;
    font-size: 24px;
}
.card_idea_description{
    padding: 8px 0px;
}
.card_dea_tags_container{
    padding: 8px 0px;
}
.idea_tag{
    position: relative;
    display: inline-block;
    background: var(--bg-idea-tag);
    color: var(--text-idea-tag);
    width: auto;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}